[Desktop Entry]
Version=1.0
Type=Application
Name=CLion
Icon=/usr/share/icons/Candy/apps/scalable/clion.svg
Exec="/opt/clion/bin/clion.sh" %f
Comment=Capable and Ergonomic IDE for C and C++
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-clion
StartupNotify=true