[Desktop Entry]
Name=Discord
Version=1.0
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
Type=Application
Terminal=false
Exec=/opt/Discord/Discord
Categories=Network;InstantMessaging;
Icon=/usr/share/icons/Candy/apps/scalable/discord.svg