[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/opt/Postman/Postman
Name=Postman
Icon=/usr/share/icons/Candy/apps/scalable/postman.svg