[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/opt/ultimakercura/ultimakercura.AppImage
Name=Minecraft
Icon=/opt/ultimakercura/ultimakercura.png